body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f0f8ff;
}

.heading {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  height: 100px;
  padding: 10px;
  margin-bottom: 40px;
}
.heading h1 {
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading p {
  font-size: 16px;
  margin-top: 0;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chat-container {
  width: 40%;
  margin-left: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.chatbox {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-message {
  background-color: #e1e1e1;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
